
body {
  background: radial-gradient(#e6e6e6) fixed;
  color: #0e2805;
}


header {
  background: #685353;
  width: 100%;
  padding: 17px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  border-style: solid;
  border-width:2px;
  border-color: #77cee3;
  border: #77cee3;
}
header h1{
  margin-bottom: -10%;
  float: left;
  border-style: solid;
  border: #77cee3;
}
header li{
  display: inline-block;
  padding: 2%;
  font-size: 175%;
}
main section ul li img{
 width: 20%;
 margin-top: 5%;
} 
main section ul li {
 display: inline;

}

#top{
 float: right;
}

main section{
 text-align: center;
}
#list{
 margin-top: 2%;
 width: 250px;
 border-style: solid;
 border: #77cee3;
 padding-bottom: 5%;
 float: left;
 border: 2px solid #FFC981;
 color: brown;
}

#lorem {
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
  width: 700px;
  height: 275px;
  border: 2px solid #FFC981;
  color: brown;
  position: absolute;
  top: 75%;
  left: 25%;
}

footer{
  background-color: #685353;
  text-align: center;
  margin-top: 64%;
  height: 50px;
  padding-top: 25px;

}
#barchart{
  width: 30%;
  position: absolute;
  top: 22%;
  right: 25%;
}